.search {
  display: flex;
  padding: 2px;
  border: 1px solid #2a68dd;
  border-radius: 5px;

  &__icon {
    margin: 0 20px;
    color: #2a68dd;
    cursor: default;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  &__input {
    width: 80%;
    border: none;
    outline: none;
  }
}
