@import 'components/all';

.App {
  margin: 0 auto;
  padding: 20px 5px;
  max-width: 800px;
}

.button {
  width: 90px;
  background-color: #2a68dd;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  user-select: none;
  border: none;

  &:hover {
    background-color: #1958db;
  }

  &:active {
    background-color: #0f3484;
  }
}
